.nav {
	display: inline-block; /*Задаем блочно-строчное отображение*/
  /*	width: 180px; /*задаем ширину блока*/
	background: dodgerblue;
    border:  2px solid Green;
    margin-left: 25%;
        }

        .text {
          text-align:center 
        }

        body{padding-top:20px;}
